:root { 
--white_A700_7f:#ffffff7f; 
--blue_A700_19:#0a56f119; 
--blue_A700:#0a56f1; 
--gray_900:#121212; 
--gray_700_3f:#6565653f; 
--white_A700_00:#ffffff00; 
--gray_700_59:#65656559; 
--blue_gray_800:#36454f; 
--deep_orange_300:#dd6611; 
--blue_A700_7f:#0a56f17f; 
--white_A700:#5fbddf; 
--deep_orange_300_19:#dd661019; 
--blue_A700_3f:#0a56f13f; 
}